# Cesta k priečinku projektu na NASe (kde je server.py, docker-compose.yml)
APP_HOST_PATH=/volume1/docker/nas-downloader

# Cesty k médiám na NASe
MOVIES_HOST_PATH=/volume1/films
SERIES_HOST_PATH=/volume1/movies

# Voliteľné: vlastný TMDB API kľúč (https://www.themoviedb.org/settings/api)
# TMDB_API_KEY=tvoj_kluc
